* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}
.container {
  max-width: 140rem;
  padding: 0 3.2rem;

  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #fdf2e9; */
  height: 9.6rem;
  padding: 0 4.8rem;
  border-bottom: solid 1px #000;
  position: relative;
}
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.915);
  z-index: 999;
  box-shadow: 0 1rem 2.2rem rgba(0, 0, 0, 0.03);
}
.sticky .section-hero {
  margin-top: 10rem;
}
.logo {
  font-size: 4rem;
  font-weight: 600;
  color: rgb(189, 62, 140);
  text-decoration: none;
}
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.4rem;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 700;
  color: #333;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  display: inline-block;
  color: #e67e22;
}

/* Hero section */
/* Hero section */
/* Hero section */
/* Hero section */
.section-hero {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}
.global-state {
  flex: 2.5;

  height: 80rem;
}
.sidebar {
  flex: 1.5;
  height: 80rem;
  background-color: #e67e22;
}

.corona-global {
  border: solid 1px #000;
  height: auto;
  border-radius: 10px;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 1.2fr 1fr 1fr 1fr;
  font-size: 2rem;
  font-weight: 500;
}
.live {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.confirmed {
  background-color: rgba(255, 0, 0, 0.144);
  margin: 1rem;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 2fr 1fr;
  align-items: center;
  justify-content: center;

  color: rgb(255, 0, 0);
  position: relative;
}
.recovered {
  background-color: rgba(0, 128, 0, 0.13);
  margin: 1rem;
  display: grid;
  grid-template-rows: 2fr 1fr;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  color: green;
  position: relative;
}
.death {
  background-color: rgba(0, 0, 0, 0.13);
  margin: 1rem;
  display: grid;
  grid-template-rows: 2fr 1fr;
  border-radius: 10px;
  align-items: center;
  justify-content: center;

  color: black;
  position: relative;
}
.confrimed-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.redbox {
  background-color: rgba(255, 0, 0, 0.253);
  border-radius: 0 0 5px 5px;
}
.greenbox {
  background-color: rgba(0, 128, 0, 0.315);
  border-radius: 0 0 5px 5px;
}
.blackbox {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0 0 5px 5px;
}

.live-text {
  color: red;
  margin-bottom: 2rem;
}
.overview {
  margin-bottom: 5rem;
  color: #000;
  font-weight: 600;
}
.backgroud {
  background-color: rgb(216, 216, 216);
  color: #000;
  border-radius: 5px;
}
